{% extends "auctions/layout.html" %}
{% block body %}
   
    <section class="listing-view">
        <div class="listing-container">
            <div class="img-container">
                <img src="{{ listing.img_url }}" alt="listing_img">
            </div>
            <div class="listing-info">
                <div class="title">
                    <h3>{{ listing.title }}
                    <p class="date_time">Posted on {{ listing.date_time }}</p>
                    </h3>
                    <div class="close-listing">
                        {% if user.id == listing.owner.id and listing.active == True %}
                            <a class="button" id="close-listing"  href="/close_listing/{{ listing.id }}">Close listing</a>
                            
                        {% elif listing.active == False %}
                            
                                <p>This listing is closed.</p>
                           
                        {% endif %}
                    </div>
                </div>
                <div class="listing-body">
                    <p class="description">
                        {{ listing.description }}
                    </p>
                    <div class="pricing">
                        <div class="listing-starting">
                            Starting price: ${{ listing.start_bid }}
                        </div>
                        <div class="current-price">
                                {% if user.id == listing.high_bid.user.id and listing.active == True %}
                                    Current price: <span class="price-tag">${{ listing.high_bid.bid }}</span>
                                    <h5 class="winner-tag">You are winning!</h5>
                                {% elif listing.active == True %}
                                    Current price:
                                        {% if listing.high_bid != None %}
                                            <span class="price-tag">${{ listing.high_bid }}</span>
                                        {% else %}
                                            <span class="price-tag">${{ listing.start_bid }}</span>
                                        {% endif %}
                                {% else %}
                                    Sold for: ${{ listing.high_bid.bid }}
                                {% endif %}
                        </div>
                    </div>
                </div>
            </div>
       
        {% if listing.active == True %}
            <div class="interact">
                {% if user.is_authenticated %}
                    <div class="bid-container">
                        <form action="/bid/{{ listing.pk }}" method="post">
                            {% csrf_token %}
                            {% for field in bid_form %}
                            <div class="form-field">
                                <div class="form-label">
                                    <b>{{ field.label }}</b>
                                </div>
                                <div class="form-value">
                                    {{ field }}
                                </div>
                            </div>
                            {% endfor %}
                            <input class="submit button bid" type="submit" value="Make an offer">
                            {% if message %}
                                <div class="message">
                                    <h6 class="error-message">{{ message }}</h6>
                                </div>
                            {% endif %}
                        </form>
                    </div>
                    <div class="watchlist-container">
                        {% if listing in user.watchlist.all %}
                            <div class="watch-control">
                                <a class="button rm-watchlist" href="/remove_from_watchlist/{{listing.id}}">
                                    Remove from Watchlist
                                </a>
                                <h6>You are watching this listing.</h6>
                            </div>
                            {% elif listing.active == False and user.id == listing.high_bid.user.id %}
                            <div id="winner-tag-closed">
                                You won this auction!
                            </div>
                            {% else %}
                                <div class="watch-control">
                                    <a class="button add-watchlist" href="/add_to_watchlist/{{listing.id}}">
                                        Add to Watchlist
                                    </a>
                                </div>
                            {% endif %}
                    </div>
                
            {% else %}
                <h6 class="error-message">Sign in to make an offer.</h6>
            {% endif %}
            </div>
        {% endif %}
    </section>
    
    <section class="comment-section">
        <h3 class="comments-header">Comments</h3>
        
            {% for comment in comments %}
            <div class="comments-container">
                <div class="comment-container">
                    <div class="user">{{ comment.user.username }}
                    <span class="date_time"> on {{ comment.date_time }}</span>
                    </div>
                    <p class="comment">{{ comment.content }}</p>
                </div>
            </div>
            {% endfor %}
            
        {% if user.is_authenticated %}
            <div class="new-comment">
                <h5>Share your thoughts:</h5>
                <form action="/comment/{{ listing.pk }}" class="comment-form" method="post">
                    {% csrf_token %}
                    <div class="form-field">
                        {{ comment_form }}
                    </div>
                    <input class="button comment" type="submit" value="Comment">
                </form>
            </div>
        {% endif %}
    </section>
    
{% endblock %}












