{% extends "auctions/layout.html" %}

{% block title %}
    Watchlist
{% endblock %}

{% block body %}
    {% if user.is_authenticated %}
        {% if not populated %}
            <h5>Your watchlist is empty.</h5>
            <a href="{% url 'index' %}">
                <h6>See all listings</h6>
            </a>
        {% else %}
            <section class="watchlist-active">
                <h3>Active Listings</h3>
                <ul>
                    {% for item in watchlist.all %}
                    {% if item.active == True %}
                    <li>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-sm-2 my-auto text-center img-thumbnail">
                                    <a href="/auctions/{{ listing.pk }}"><img class="img-fluid" src="{{ item.img_url }}" alt="listing image"></a>
                                </div>
                                <div class="col-sm-10">
                                    <div class="card-body">
                                        <div class="listing-title"> 
                                            <a href="/auctions/{{ item.pk }}">
                                                {{ item.title }}
                                            </a>
                                        </div>
                                        <div class="listing-description"> 
                                            {{ item.description }}
                                        </div>
                                        <div class="watch-control">
                                            <a class="button rm-watchlist"href="/remove_from_watchlist/{{ item.pk }}">
                                            Remove
                                            </a>
                                        </div>
                                        <div class="listing-price price-tag">
                                            ${{ item.high_bid }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
            <section class="watchlist-closed">
                <h3>Closed auctions</h3>
                <ul>
                    {% for item in watchlist.all %}
                    {% if item.active == False and user.id == item.high_bid.user.id %}
                    <li>
                        <div class="card mb-3">
                            <div class="row g-0">
                                <div class="col-sm-2 my-auto text-center img-thumbnail">
                                    <a href="/auctions/{{ listing.pk }}"><img class="img-fluid" src="{{ item.img_url }}" alt="listing image"></a>
                                </div>
                                <div class="col-sm-10">
                                    <div class="card-body">
                                        <div class="listing-title"> 
                                            <a href="/auctions/{{ item.pk }}">
                                                {{ item.title }}
                                            </a>
                                        </div>
                                        <div class="listing-description"> 
                                            {{ item.description }}
                                        </div>
                                        <div class="listing-price price-tag">
                                            ${{ item.high_bid }}
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>
                    {% endif %}
                    {% endfor %}
                </ul>
            </section>
        {% endif %}
    {% endif %}
{% endblock %}